body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #bcbcbce4; /* Dorado */
}

.product {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #363636; /* Gris oscuro */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: space-between; /* Alineamos los elementos alrededor de su espacio */
    align-items: center; /* Centramos verticalmente los elementos */
}

input[type='number'] {
    width: 60px; /* Ajustamos el ancho para dejar espacio entre los inputs y reducir 1px */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffff; /* Dorado */
    color: #000000; /* Texto blanco */
}

button {
    display: block; /* Botones centrados */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 10px 20px; /* Aumentar el espacio vertical para los botones */
    margin-top: 20px;
    background-color: #f08400; /* Dorado */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d68910; /* Dorado más oscuro al pasar el cursor */
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
  
    .product {
        flex-direction: column; /* Cambiamos la dirección de los elementos a columna en pantallas más pequeñas */
    }

    input[type='number'] {
        margin-right: 0; /* Eliminamos el margen derecho para que los inputs estén centrados */
        margin-bottom: 10px; /* Añadimos un margen inferior para separar los inputs */
    }
}
